<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwt.mapper.FoodMapper">

	<resultMap type="com.zwt.bean.Food" id="foodMap">
		<result column="FOODID" property="foodId" />
		<result column="TYPEID" property="typeId" />
		<result column="FOODNAME" property="foodName" />
		<result column="FOODPRICE" property="foodPrice" />
		<result column="FOODIMG" property="foodImg" />
		<result column="FOODINFO" property="foodInfo" />
		<result column="SALENUMBER" property="saleNumber" />
		<result column="MEMBERPEICE" property="memberPrice" />
	</resultMap>
	
	<insert id="insertFood">
		insert into food values(#{foodId},#{typeId},#{foodName},#{foodPrice},#{foodImg},#{foodInfo},#{saleNumber},#{memberPrice});
	</insert>
	
	<select id="selectAllFood" resultMap="foodMap">
		select * from food
	</select>
	
	<update id="updateFood">
		update food 
		set 
		TYPEID=#{typeId},
		FOODNAME=#{foodName},
		FOODPRICE=#{foodPrice},
		FOODIMG=#{foodImg},
		FOODINFO=#{foodInfo},
		MEMBERPEICE=#{memberPrice}
		where FOODID=#{foodId}
	</update>
	
	<select id="selectFoodByTypeId" resultMap="foodMap">
		select * from food where TYPEID=#{typeId}
	</select>
	
	<select id="selectFoodByFoodId" resultMap="foodMap">
		select * from food where FOODID=#{foodId}
	</select>

</mapper>
